<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Supanotes</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>
  {% for greeting in greetings %}
    {% if greeting.author %}
      <b>{{ greeting.author.nickname }}</b> wrote:
    {% else %}
     An anonymous person wrote:
    {% endif %}
    <blockquote>{{ greeting.content|escape }}</blockquote>
  {% endfor %}

  <form action="/sign" method="post">
    <div><textarea name="content" rows="3" cols="60"></textarea></div>
    <div><input type="submit" value="Sign Guestbook"/></div>
  </form>

  <a href="{{ url }}">{{ url_linktext }}</a>

</body>
</html>
