anyio==3.5.0
ariadne==0.14.1
asgiref==3.5.0
autopep8==1.6.0
click==8.0.3
graphql-core==3.1.7
h11==0.13.0
idna==3.3
pycodestyle==2.8.0
six==1.16.0
sniffio==1.2.0
starlette==0.25.0
toml==0.10.2
typing_extensions==4.0.1
uvicorn==0.17.1
